body {
  background-color: #111;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
}

.logo {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: auto;
}

.menu {
text-align: center;
  padding: 15px;
  border-top: 1px solid red;
  margin-top: 30px;
  font-size: 14px;
  color: gray;
}